[submodule "src-tauri/resources/vendor/pandoc-config"]
	path = src-tauri/resources/vendor/pandoc-config
	url = git@github.com:dzackgarza/pandoc-config.git
[submodule "vendor/codemirror-lang-latex"]
	path = vendor/codemirror-lang-latex
	url = https://github.com/dzackgarza/codemirror-lang-latex
